{% extends 'afriqapp/base.html' %}
{% block title %}python members{% endblock %}

{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
        {% if profiles%}
            {% for prof in profiles %}
                <div class="col-sm-3">
                    <div class="card card-body my-3"style="background-colour: {% if prof.is_male %}blue; {%  else %}purple;{% endif %}">
                        <h4 class="text-center"style="white-space: nowrap; overflow: hidden; border-bottom:1px; max-width:90; font-family:ZCOOL KuaiLe">{{ prof.name }}</h4 >


                        <hr>
                        <img src="{{prof.photo.url}}" class="rounded-circle mx-auto img-fluid" alt="" style="height:130px; width:130px;">
                        <div class="caption">
                            <h5 class="text-center">{{prof.occupation}}</h5>
                             <h6 class="text-center"style="white-space: nowrap; overflow: hidden; border-bottom:1px; max-width:90; font-family:Indie Flower">{{prof.slogan}}</h6>
                            <a href="" class="btn btn-info btn-sm" data-toggle="modal"data-target="#modal">
                                <i class="fas fa-info"></i>
                            </a>
                            <a href="{% url 'afriqapp:delete-member' prof.id%}" class="btn btn-danger btn-sm" style="float: right;">
                                <i class="fas fa-trash"></i>
                            </a>

                        </div>

                    </div>

                    <!--Modal -->
                    <div class="modal fade" id="modal" role="dialog">
                        <div class="modal-dialog">
                        <div class="modal-content">
                             <div class="modal-header">
                            <h4 class="modal-title">more info</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
                        </div>
                            <div class="modal-body">
                            <p class="text-center"style="font-family:Indie Flower">{{prof.name}} is age  {{prof.age}}.He is a {{prof.nationality}} citizen.He went to {{prof.primary}} then later joined {{prof.secondary}}.{{prof.name}} is a {{prof.occupation}} by proffesion.He lives in {{prof.residence}}. You can contact him at <a href="mailto: {{prof.email}}">{{prof.email}}</a>. His slogan is {{prof.slogan}}.</p>

                    </div>
                        <div class="modal-footer">
                         <a href="{% url 'afriqapp:update-member' prof.id %}" class="btn btn-outline primary btn-sm">
                             <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        </div>

                    </div>
                    </div>

                 </div>

            {%endfor %}
        {%endif %}
    </div>
{% endblock %}
