{% extends 'afriqapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Update {{object.name}}{% else %} Add member {% endif %}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-sm-3"></div>
            <div clas="col-sm-6">
                <div class="card card-body">
                    <h3 class="text-capitalize">{% if object %}Update {{object.name}}{% else %} Add member {% endif %}</h3>
                    <hr>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}

                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}